<input type="text" id="email" />
<input type="text" id="full-name" />
<input type="password" id="password" />
<button id="signup-button">Signup</button>
<button id="login-button">Login</button>

<script>
    let apiRoot = localStorage.apiRoot || "https://subscription-thingy.herokuapp.com";
    let feRoot = "http://localhost:8000";

    document.getElementById('signup-button').addEventListener('click', async () => {
        let email = document.getElementById('email').value;
        let fullName = document.getElementById('full-name').value;
        let password = document.getElementById('password').value;

        let resp = await fetch(`${apiRoot}/signup`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, password, full_name: fullName })
        });

        if (resp.ok) {
            console.log("Now login");
        } else {
            console.log("nope");
        }

        return false;
    });

    document.getElementById('login-button').addEventListener('click', async () => {
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;

        let resp = await fetch(`${apiRoot}/login`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, password })
        });

        if (resp.ok) {
            let body = await resp.json();
            localStorage.token = body['token'];
            window.location.href = `${feRoot}/main.html`;
        } else {
            console.log('nope');
        }
    });
</script>