<h1>Main page</h1>
<img id="profile-picture" alt="Your profile picture" src="#" />
<p>You are: <span id="userEmail"></span></p>
<p id="subscriptionStatus"></p>
<form id="payment-form" style="visibility: hidden;">
    <div id="card-element">
        <!-- Elements will create input elements here -->
    </div>

    <!-- We'll put the error messages in this element -->
    <div id="card-element-errors" role="alert"></div>
    <button type="submit">Subscribe</button>
</form>
<input type="file" id="profile-picture-upload" />
<button id="upload-button">Upload Profile Picture</button>
<script src="https://js.stripe.com/v3/"></script>
<script>
    let apiRoot = localStorage.apiRoot || "https://subscription-thingy.herokuapp.com";
    let token = localStorage.token;

    // not a secret key
    let stripe = Stripe('pk_test_51IflE3Cm9FM1IdCwO9br8tJTE3ttbMz4JljaVHSTLtVTOlQCCj24hxceIUOsIHYkcDqeciGDXhNBheaiAhtPolCZ00Zgd9CVod');
    let elements = stripe.elements();

    let setupStripeCard = (card, user) => {
        card.on('change', function (event) {
            let displayError = document.getElementById('card-element-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        let form = document.getElementById('payment-form');
        form.addEventListener('submit', async (ev) => {
            ev.preventDefault();

            let customerId = user['stripe_customer_id'];
            let resp = await stripe.createPaymentMethod({
                type: 'card',
                card: card,
                billing_details: { email: user['email'] }
            });

            let paymentMethodId = resp.paymentMethod.id;

            resp = await fetch(`${apiRoot}/payments/subscribe`, {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    payment_method_id: paymentMethodId
                })
            });

            if (!resp.ok) return;

            // TODO: Handle various error states here
        });
    }

    document.addEventListener("DOMContentLoaded", async () => {
        let resp = await fetch(`${apiRoot}/me`, {
            headers: { 'Authorization': `Bearer ${token}` }
        });

        let emailField = document.getElementById('userEmail');
        let subField = document.getElementById('subscriptionStatus');
        let paymentForm = document.getElementById('payment-form');
        let profilePicture = document.getElementById('profile-picture');

        if (resp.ok) {
            let body = await resp.json();
            emailField.innerText = body['profile']['full_name'] || body['email'];
            if (body['subscription']['exists']) {
                subField.innerText = `You are subscribed until ${body['subscription']['end_date']}`;
            } else {
                paymentForm.style.visibility = 'visible';
                let card = elements.create('card');
                card.mount('#card-element');
                setupStripeCard(card, body);

                subField.innerText = "You are not subscribed";
            }

            if (body['profile']['profile_picture_url']) {
                profilePicture.src = `${apiRoot}${body['profile']['profile_picture_url']}`;
            }
        } else if (response.status == 401) {
            subField.innerText = "You are not logged in";
        }

        let fileField = document.getElementById('profile-picture-upload');
        document.getElementById('upload-button').addEventListener('click', () => {
            console.log("in handler");
            if (fileField.files === []) return;
            let fd = new FormData();
            fd.append("profile_picture", fileField.files[0]);

            fetch(`${apiRoot}/users/profile-picture`, {
                method: 'POST',
                body: fd,
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
        });
    });
</script>